@import "../../styles/mediaQuery.scss";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  width: 700px;
  height: 100vh;
  background: #fff;
  z-index: 100;
  padding: 24px;
  overflow: scroll;

  @include media-query("md") {
    width: 100%;
  }
}

.header {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: inline-flex;

  .closeIconWrapper {
    width: 30px;
    cursor: pointer;
  }
}

.dateWrapper {
  display: flex;
  flex-direction: column;
  height: 220px;
}

.equipmentListWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: scroll;
  gap: 12px;
}

.title {
  flex: 1;
  font-weight: 700;
  color: var(--color, var(--primary));
  cursor: pointer;
}

.footer {
  height: 60px;
  margin: 24px 0;
}
