.cellItem {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  flex: 1;
  border: 1px solid var(--grey-1);

  .label {
    height: 40px;
    padding: 8px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    background-color: var(--primary);
    color: white;
    position: relative;
  }

  .closeIconWrapper {
    width: 40px;
    height: 40px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0px;
    top: 0px;
    cursor: pointer;
  }

  .value {
    height: 55px;
    padding: 8px;
    font-size: 14px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}

.listWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.buttonListWrapper {
  display: inline-flex;
  justify-content: flex-end;
  width: 100%;
  gap: 12px;
  margin-bottom: 20px;
}

.emptyList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  font-size: 14px;
}

.nonEditableCellItem {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  flex: 1;
  border: 1px solid var(--grey-1);

  .label {
    height: 40px;
    padding: 8px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    background-color: var(--primary);
    color: white;
    position: relative;
  }

  .value {
    height: 40px;
    padding: 8px;
    font-size: 14px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}
