.wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;
  border: 1px solid var(--grey-1);
  border-radius: 12px;
  font-size: 14px;
  width: 100%;
  padding: 8px 16px;
  flex: 1;
}

.inlineWrapper {
  width: 100%;
  display: inline-flex;
  align-items: center;
}

.equipmentItem {
  @extend .wrapper;
}

.unavailableItem {
  @extend .wrapper;
  border: 1px solid var(--error);
}

.availableItem {
  @extend .wrapper;
  border: 1px solid var(--green);
}

@mixin cell {
  padding: 8px 0;
}

.title {
  @include cell();
  font-weight: 700;
  flex: 1;
  min-width: 200px;
}

.days {
  @include cell();
  width: 50px;
}

.totalPrice {
  @include cell();
  min-width: 200px;
  flex: 1;

  display: flex;
  font-weight: 700;
  justify-content: flex-end;
}

.supplyPrice {
  @include cell();
  width: 100px;
}

.diffPrice {
  @include cell();
  width: 200px;
  display: flex;
  justify-content: flex-start;
}

.deleteButtonWrapper {
  @include cell();
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.quantity {
  @include cell();
  display: inline-flex;
  align-items: center;
  width: 80px;
}

.quantityNumber {
  margin: 0 8px;
}

.quantityButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;

  border: 1px solid var(--grey-1);
  border-radius: 8px;
  color: var(--primary);
  cursor: pointer;
}
