.modalText {
  font-size: 14px;
  font-weight: 700;
}

.roundChangeRow {
  display: inline-flex;
  align-items: center;
  flex: 1;
  gap: 12px;
  font-size: 14px;
}

.row {
  width: 50px;
  display: flex;
}
