@import "react-big-calendar/lib/sass/styles";

.header {
  width: 100%;
  padding: 16px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.rbc-show-more {
  color: var(--primary);
  font-weight: 500;
  margin-top: 3px;
}

.arrowButton {
  outline: none;
  border: none;
  background: #fff;
  width: 36px;
  height: 36px;
  cursor: pointer;

  &:hover {
    border-radius: 100%;
    background-color: var(--grey-1);
  }
}

.rbc-toolbar-label {
  font-family: "NotoSansKR", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.rbc-month-view {
  font-family: "NotoSansKR", sans-serif;
  border-radius: 16px;
  overflow: hidden;
}

.rbc-button-link {
  font-weight: 600;
  font-size: 12px;
}

.rbc-header {
  font-size: 12px;
  padding: 8px 0;
}

.rbc-off-range-bg {
  background-color: #fff;
  color: var(--grey-1);
}

.rbc-today {
  background: var(--green-1);
}

.rbc-event {
  background: var(--event-color, var(--green));
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
}

.weekCalendarWrapper {
  .rbc-time-view {
    border-radius: 24px;
  }

  .rbc-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rbc-time-slot {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--default-font);
    font-size: 12px;
  }

  .rbc-timeslot-group {
    height: 20px;
  }
}

.dayCalendarWrapper {
  .rbc-time-slot {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-family: var(--default-font);
  }

  .rbc-timeslot-group {
    height: 20px;
    font-size: 14px;
  }

  .rbc-time-view {
    border-radius: 24px;
    overflow: hidden;
  }

  .rbc-today {
    background: #fff;
  }

  .rbc-events-container {
    .rbc-event-label {
      font-size: 13px;
    }

    .rbc-event-content {
      font-size: 15px;
      margin-top: 2px;
    }
  }
}

.rbc-agenda-view {
  font-family: var(--default-font);

  .rbc-header {
    height: 40px;
    font-size: 14px;
  }

  table.rbc-agenda-table {
    border-collapse: collapse;

    thead > tr {
      width: 100%;
      flex: 1;
    }
  }

  table.rbc-agenda-table tbody > tr > td {
    border: 1px solid var(--grey-1);
  }

  .rbc-agenda-date-cell {
    background-color: #fff;
    font-size: 14px;
    font-weight: 700;
  }

  .rbc-agenda-time-cell {
    background-color: #fff;
    font-size: 15px;
  }

  .rbc-agenda-event-cell {
    background: #fff;
    font-size: 15px;
  }
}
