@import "react-big-calendar/lib/sass/styles";

.header {
  width: 100%;
  padding: 16px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.arrowButton {
  outline: none;
  border: none;
  background: #fff;
  width: 36px;
  height: 36px;
  cursor: pointer;

  &:hover {
    border-radius: 100%;
    background-color: var(--grey-1);
  }
}

.rbc-toolbar-label {
  font-family: "NotoSansKR", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.rbc-month-view {
  font-family: "NotoSansKR", sans-serif;
  border-radius: 16px;
  overflow: hidden;
}

.rbc-button-link {
  font-weight: 600;
  font-size: 12px;
}

.rbc-header {
  font-size: 12px;
  padding: 8px 0;
}

.rbc-off-range-bg {
  background-color: #fff;
  color: var(--grey-1);
}

.rbc-today {
  background: var(--green-1);
}

.rbc-event {
  background: var(--green);
  // height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
