.wrapper {
  display: flex;
  flex-direction: column;
  min-width: 400px;
}

.itemWrapper {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-size: 15px;
  cursor: pointer;
  padding: 2px 0;

  &:hover {
    font-weight: 600;
  }
}

.listWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}

.emptyWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 200px;
  font-size: 15px;
}

.colorDot {
  width: 8px;
  height: 8px;
  border-radius: 30px;
}

.dateWrapper {
  min-width: 150px;
  margin-right: 4px;
}

.typeBadge {
  display: flex;
  align-items: center;
  padding: 1px 8px;
  border-radius: 20px;
  font-size: 12px;
  margin-right: 4px;
  font-weight: 600;
}

.startBadge {
  @extend .typeBadge;
  border: 1px solid black;
}

.endBadge {
  @extend .typeBadge;
  background: black;
  color: #fff;
}
