.buttonWrapper {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 2rem;
}

.convertedPrice {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  color: var(--grey);
}

.rightAlignButtonWrapper {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.detailPriceWrapper {
  display: inline-flex;
  align-items: center;
  width: fit-content;
}

.listCategoryWrapper {
  display: flex;
  gap: 12px;
  margin-top: 18px;
}

.categoryItem {
  cursor: pointer;
  border-radius: 16px;
  background: white;
  font-weight: 600;
  padding: 8px 24px;
}

.activeCategoryItem {
  @extend .categoryItem;
  background: var(--primary);
  color: white;
}
