.priceModalTitle {
  display: flex;
  font-size: 16px;
  font-weight: 700;
}

.priceChangeModelText {
  font-size: 14px;
}

.priceChangeRow {
  display: inline-flex;
  align-items: center;
  flex: 1;
  gap: 12px;
}
