.equipmentListWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.iconButton {
  color: var(--grey);
}

.moreIconWrapper {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  position: relative;
}

.titleWrapper {
  width: 100%;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  font-family: var(--default-font);
  font-weight: 700;
}

.accordionFooter {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  padding: 8px;
  gap: 12px;
  height: 60px;
}

.price {
  font-weight: 400;
}

.customAccordion {
  border: 1px solid var(--grey-1);
  border-radius: 16px !important;
  box-shadow: none !important;
}

.priceWrapper {
  display: inline-flex;
  width: 100%;
  font-weight: 700;
  justify-content: flex-end;
  margin-top: 20px;
}
